@import "../../scss/abstracts/main-abstracts.scss";

.button {
  padding: 5px;
  margin-right: 5px;
  font-size: $font-size;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: $second-btn-bg;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

.button--bg-main {
  background-color: $main-btn-bg;
}
