@import "../../scss/abstracts/main-abstracts.scss";

.track {
  @extend %flexible;

  position: relative;
  margin-right: 90px;
  width: 100%;
  height: 40px;
  border-bottom: 4px dashed $second-color;
}
