$main-font-color: #802929;
$second-color: #332828;
$bg-color: #ecd4b0;
$main-btn-bg: #cb9d49;
$second-btn-bg: #8febdb;
$active-color: #1db0ca;
$unactive-color: #757575;

$font-size: 12px;
$animation-eff: all linear .3s;
